@page
@model FE.Pages.FootballPlayerPages.DeleteModel

@{
    TempData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

    
    <form method="post">
        <input type="hidden" asp-for="FootballPlayer.FootballPlayerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>

